# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UdemyTowerDefenseGame.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\thero\UdemyTowerDefenseGame\.idea\.idea.UdemyTowerDefenseGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
